@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-app-bg: var(--app-bg);
  --color-layout-bg: var(--layout-bg);

  --color-app-icon: var(--app-icon);
  --color-app-icon-hover: var(--app-icon-hover);

  --color-app-border: var(--app-border);

  --color-menu-active-bg: var(--menu-active-bg);
  --color-menu-active-text: var(--menu-active-text);

  --color-menu-hover-bg: var(--menu-hover-bg);
}

:root {
  --app-bg: #ede4cf;
  --layout-bg: #4e0f17;

  --app-icon: #d1d5db;
  --app-icon-hover: #ffffff;

  --app-border: rgba(255, 255, 255, 0.15);

  --menu-active-bg: #1d4ed8;
  --menu-active-text: #ffffff;

  --menu-hover-bg: rgba(255, 255, 255, 0.1);
}

.dark {
  --app-bg: #09090b;
  --layout-bg: #18181b;

  --app-icon: #a1a1aa;
  --app-icon-hover: #ffffff;

  --app-border: #3f3f46;

  --menu-active-bg: #2563eb;
  --menu-active-text: #ffffff;

  --menu-hover-bg: #27272a;
}